<nav class="header">
    <div class="nav-main-container">


        <div class="left">
            <ul class="nav-links-list">

                <li class="main-logo">
                    <a href=""><img src="images/logo.svg"></a>
                </li>
                <li><a href="#" class="nav-link">Collections</a></li>
                <li><a href="#" class="nav-link">Men</a></li>
                <li><a href="#" class="nav-link">Women</a></li>
                <li><a href="#" class="nav-link">About</a></li>
                <li><a href="#" class="nav-link">Contact</a></li>
         
            </ul>
        </div>

        <div class="right">
            <div class="shop-cart-container">
                <img src="images/icon-cart.svg" alt="Shoping Cart">
            </div>
            <div class="profile-btn-container">
                <img class="avatar-profil-img" src="images/image-avatar.png" alt="Avatar profile picture">
            </div>
        </div>
    </div>

    <div class="border-bar-medium-large"></div>
</nav>